<!DOCTYPE html>
<html>
<head>
	<title>Employee Information</title>
</head>
<body>
	  <!-- ======= Header ======= -->
	  <header id="header" class="header fixed-top d-flex align-items-center">

		<div class="d-flex align-items-center justify-content-between">
		  <a href="{{url_for('home')}}" class="logo d-flex align-items-center">
			<img src="templates/assets/img/HR-Logo.png" alt="">
			<span class="d-none d-lg-block">Human Resources</span>
		  </a>
		  <i class="bi bi-list toggle-sidebar-btn"></i>
		</div><!-- End Logo -->
	
	  </header><!-- End Header -->
	
	  <!-- ======= Sidebar ======= -->
	  <aside id="sidebar" class="sidebar">
	
		<ul class="sidebar-nav" id="sidebar-nav">
	
		  <li class="nav-item">
			<a class="nav-link " href="{{url_for('home')}}">
			  <i class="bi bi-grid"></i>
			  <span>Dashboard</span>
			</a>
		  </li><!-- End Dashboard Nav -->
	
		  <li class="nav-item">
			<a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
			  <i class="bi bi-menu-button-wide"></i><span>Employees</span><i class="bi bi-chevron-down ms-auto"></i>
			</a>
			<ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
			  <li>
				<a href="{{url_for('ViewAddEmp')}}">
				  <i class="bi bi-circle"></i><span>Add Employees</span>
				</a>
			  </li>
			  <li>
				<a href="{{url_for('ViewViewEmp')}}">
				  <i class="bi bi-circle"></i><span>View Employees</span>
				</a>
			  </li>          
			</ul>
		  </li><!-- End Components Nav -->
	
		  <li class="nav-item">
			<a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
			  <i class="bi bi-journal-text"></i><span>Payroll</span><i class="bi bi-chevron-down ms-auto"></i>
			</a>
			<ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
			  <li>
				<a href="templates/add-payroll.html">
				  <i class="bi bi-circle"></i><span>Add Payroll</span>
				</a>
			  </li>
			  <li>
				<a href="templates/view-payroll.html">
				  <i class="bi bi-circle"></i><span>View Payroll</span>
				</a>
			  </li>
			</ul>
		  </li><!-- End Forms Nav -->
	
		  <li class="nav-item">
			<a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
			  <i class="bi bi-layout-text-window-reverse"></i><span>Leave</span><i class="bi bi-chevron-down ms-auto"></i>
			</a>
			<ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
			  <li>
				<a href="templates/add-leave.html">
				  <i class="bi bi-circle"></i><span>Add Leaves</span>
				</a>
			  </li>
			  <li>
				<a href="templates/view-leave.html">
				  <i class="bi bi-circle"></i><span>View Leaves</span>
				</a>
			  </li>          
			</ul>
		  </li><!-- End Tables Nav -->
	  </aside><!-- End Sidebar-->
</body>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Information</h1>

		<body bgcolor="lightgrey">
			<form action="/templates/remove-employee.html" autocomplete="on" method = "POST" enctype="multipart/form-data">
				<div>
			  		{{ name }}
			  	</div>
			</form>
		</body>
	</font>
</center>
</html>